## mako
<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from datetime import datetime
from django.conf import settings
import pytz
from cms.djangoapps.contentstore.config.waffle import waffle, ENABLE_ACCESSIBILITY_POLICY_PAGE
from openedx.core.djangolib.markup import HTML, Text
%>
<div class="anet-footer">
    <div class="anet-img-container" style="aling-items:center">
      <a href="/">
        <img src="https://academia.aulanet.com.bo/static/aulanet-theme/images/aulaNetAzul.bdbef15f43e7.svg" style="height: 110px">
      </a>
    </div>

    <div class="anet-vertical-line"></div>

    <div class="anet-directions">
      <h2>Direcciones</h2>
      <div class="anet-dir1">
        Calacoto entre C.16 y 17, Garden (Zona Sur) <br>
        La Paz, Bolivia
      </div>
      <div class="anet-dir2">
        Avenida San Martín Calle H no.39 (Zona Equipetrol) <br>
        Santa Cruz, Bolivia
      </div>
    </div>

    <div class="anet-vertical-line"></div>

    <div class="anet-contacts">
      <h2>Contactos</h2>
      <div class="anet-contact1">
        Telefono: +591 75275552 <br>
        La Paz, Bolivia
      </div>
      <div class="anet-contact2">
        Telefono: +591 75828728 <br>
        Santa Cruz, Bolivia
      </div>
    </div>

    <div class="anet-vertical-line"></div>

    <div class="anet-social">
      <h2>Redes Sociales</h2>
      <ul>
        <li>
          <a href="https://wa.me/message/OTJLVTAW4ZGBG1" target="_blank">
            <i class="fa fa-whatsapp"></i>Whatsapp
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/aulanet.bo" target="_blank">
            <i class="fa fa-facebook-square"></i>Facebook
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/aulanet.bo" target="_blank">
            <i class="fa fa-instagram"></i>Instagram
          </a>
        </li>
      </ul>
    </div>
  </div>

